.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:10px 25px;
    background: rgb(239, 239, 239);
}
.mobile-view{
    display: none;
}
#navbar-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1.5rem

}
#navbar-items li{
    list-style: none;
    color:black;
  
}
#navbar-items li:hover{
    color:gray;
  
}
#navbar-items a{
    text-decoration: none;
}
@media screen and (max-width:700px) {
    .nav-container{
        display: flex;
        justify-content: space-between;
    }
    .mobile-view{
        display: block;
    }
    #navbar-items{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:1.5rem;
        flex-direction: column;
        position: fixed;
        right:-400px;
        background: rgb(239, 239, 239);
        padding:20px;
        border:10px;
        top:80px
        
        
    }
    #navbar-items.active{
        right:20px;
    }
    
}
